.footer {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    background: var(--color-footer);
}

.footer-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-weight: 800;
    font-family: var(--font-family);
    letter-spacing: -0.04em;
}

.footer-btn {
    border: 1px solid white;
    padding: 1rem;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-btn p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    font-family: var(--font-family);
    box-sizing: border-box;
}

.footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    text-align: left;
}

.footer-link-logo {
    display: flex;
    flex-direction: column;

}

.footer-link-logo img {
    font-size: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.footer-link-logo p {
    font-size: 12px;
    line-height: 14px;
    font-family: var(--font-family);
}

.footer-link-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.footer-link-div h4 {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

.footer-link-div p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-family);
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-link-copyright {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.footer-link-copyright p {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--font-family);
}

@media screen and (max-width: 850px) {
    .footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and (max-width:550px ) {
    .footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .footer-link div{
        margin: 1rem 0;
    }
    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}